.product-designer-text {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -3%;
  text-align: center;
}

.cristian-munoz-text {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -3%;
  text-align: center;
}

@media (max-width: 320px) {
  .product-designer-text {
    font-size: 60px;
  }
  .cristian-munoz-text {
    font-size: 35px;
  }
}

@media (min-width: 321px) and (max-width: 380px) {
  .product-designer-text {
    font-size: 70px;
  }
  .cristian-munoz-text {
    font-size: 40px;
  }
}

@media (min-width: 381px) and (max-width: 430px) {
  .product-designer-text {
    font-size: 85px;
  }
  .cristian-munoz-text {
    font-size: 50px;
  }
}

@media (min-width: 431px) and (max-width: 500px) {
  .product-designer-text {
    font-size: 90px;
  }
  .cristian-munoz-text {
    font-size: 52px;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .product-designer-text {
    font-size: 95px;
  }
  .cristian-munoz-text {
    font-size: 55px;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .product-designer-text {
    font-size: 100px;
  }
  .cristian-munoz-text {
    font-size: 58px;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .product-designer-text {
    font-size: 110px;
  }
  .cristian-munoz-text {
    font-size: 62px;
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  .product-designer-text {
    font-size: 120px;
  }
  .cristian-munoz-text {
    font-size: 68px;
  }
}

@media (min-width: 901px) and (max-width: 1023px) {
  .product-designer-text {
    font-size: 130px;
  }
  .cristian-munoz-text {
    font-size: 75px;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
  .product-designer-text {
    font-size: 135px;
    text-align: left;
  }
  .cristian-munoz-text {
    font-size: 78px;
    text-align: left;
  }
}

@media (min-width: 1101px) and (max-width: 1200px) {
  .product-designer-text {
    font-size: 145px;
    text-align: left;
  }
  .cristian-munoz-text {
    font-size: 82px;
    text-align: left;
  }
}

@media (min-width: 1201px) and (max-width: 1250px) {
  .product-designer-text {
    font-size: 145px;
    text-align: left;
  }
  .cristian-munoz-text {
    font-size: 82px;
    text-align: left;
  }
}

@media (min-width: 1251px) and (max-width: 1300px) {
  .product-designer-text {
    font-size: 148px;
    text-align: left;
  }
  .cristian-munoz-text {
    font-size: 84px;
    text-align: left;
  }
}

@media (min-width: 1301px) and (max-width: 1350px) {
  .product-designer-text {
    font-size: 152px;
    text-align: left;
  }
  .cristian-munoz-text {
    font-size: 86px;
    text-align: left;
  }
}

@media (min-width: 1351px) and (max-width: 1400px) {
  .product-designer-text {
    font-size: 155px;
    text-align: left;
  }
  .cristian-munoz-text {
    font-size: 88px;
    text-align: left;
  }
}

@media (min-width: 1401px) {
  .product-designer-text {
    font-size: 160px;
    text-align: left;
  }
  .cristian-munoz-text {
    font-size: 90px;
    text-align: left;
  }
}
